{% load static %}
<link rel="stylesheet" href="{% static 'css/searchbook.css' %}">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">📚 BookSculpt</div>
        <ul>
            <li><a href="/">Back</a></li>
            
        </ul>
    </div>

    <!-- Search Results -->
    <div class="search-container">
        <!-- <h2>🔍 Search Results</h2> -->
        <div class="search-results">
            {% if books %}
                <ul>
                {% for book in books %}
                    <li class="book-item">
                        <strong>{{ book.title }}</strong> — {{ book.author }} ({{ book.category }})
                    </li>
                    <li class="book-read">
                        <p>{{ book.read }}</p>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="no-books">📭 No books found.</p>
            {% endif %}
        </div>
    </div>
